
 
  .menuHeader  {
    padding-left: '200px'
  }

 

     .MuiListItem-root {
       color: #FF8C00
     }

     .MuiPaper-root {
       border: 2px solid #00FFFF
     }

     .MuiListItem-divider {
       background-color: #00FFFF;     
      
     }
     .MuiList-padding {
       padding-top: 0;
     }

     .side-drawer {
    height: 100%;
    background:white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position:fixed;
    top:0;
    left:0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
   
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  height: 100%
}

.side-drawer a {
  color: #FF8C00; 
  text-decoration: none;
  font-size: 1.5rem;
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a:hover,
side-drawer a:active {
   color: #cc7a00 
}

.side-drawer.open {
    transform: translateX(0);
}
