.auth-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 200px;
    padding: 1rem;
    border: 2px solid #00FFFF;
    border-radius: 5px;
    background-color: white;
    width: 70%px;
  
  }

  .sign-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: auto;
    padding: 1rem;
    border: 2px solid #00FFFF;
    border-radius: 5px;
    background-color: white;
    width: 500px;
  
  }

  .announcements {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: auto;
    padding: 1rem;
    border: 2px solid #00FFFF;
    border-radius: 5px;
    background-color: white;
    width: 60%;
  }
  
  @media (min-width: 768px) {
    .auth-form {
      width: 60rem;
    }
  }
  